/* @import url("https://fonts.googleapis.com/css2?family=Suez+One&display=swap"); */

.time {
  background-color: #ebe9ec;
  border: 5px solid #707070;
  padding: 3rem 4rem;
  font-size: 8rem;
  /* font-family: "Suez One", serif; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  width: 50%;
  margin: auto;
  margin-top: 2.5rem;
  color: #707070;
  text-align: center;
}

.caption {
  font-size: 2rem;
  margin-top: 1rem;
}

.ampm {
  font-size: 3rem;
  margin-left: 0.9rem;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
}
